<%= semantic_form_for(@choice) do |form| %>
  <%= form.inputs do %>
    <%= form.input :title %>
    <%= form.input :description, :as => :text %>
  <% end %>
  <%= form.inputs do %>
    <%= form.commit_button %>
  <% end %>
<% end %>

<p>
  You can use the following html tags: <%= valid_tags.to_sentence %>
</p>
