<h1>CHI2011 Sessions</h1>

<%= link_to 'Add new CHI2011 Session', new_choice_path %>

<% @choices.each do |choice| %>
  <%= div_for choice, :class => "drop-shadow lifted" do %>
    <table>
      <tr>
        <td class="votes">
            <% if can_vote_on choice %>
              <h2 class="vote_button">
                <%= link_to raw('&#x25B2;'), vote_choice_url(choice), :id => "vote_#{choice.id}", :title => "Vote for #{choice.title}" %>
              </h2>
              <h2 class="vote_count">
                <%= link_to choice.votes.count, vote_choice_url(choice), :title => "Vote for #{choice.title}" %>
              </h2>
            <% else %>
              &#x25B2;
              <h2 class="vote_count"><%= choice.votes.count %></h2>
            <% end %>
          </td>
        <td><h1><%= choice.title %></h1></td>
      </tr>
    </table>
    <p><%= choice.description %></p>
    <p><%= choice.url %></p>
    <p>
      <%= link_to 'Details', choice_path(choice) %>
    </p>
  <% end %>
<% end %>
