<h1>Listing choices</h1>

<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Description</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @choices.each do |choice| %>
  <%= content_tag_for :tr, choice do %>
    <td><h2><%= choice.votes.count %></h2></td>
    <td><%= choice.title %></td>
    <td><%= choice.description %></td>
    <td><%= choice.url %></td>
    <td>
      <% if @current_student %>
        <%= link_to 'Vote', vote_choice_url(choice), :id => "vote_#{choice.id}" %>
      <% else %>
        Log in above to vote
      <% end %>
    </td>
    <td><%= link_to 'Edit', edit_choice_path(choice) %></td>
    <td><%= link_to 'Destroy', choice, :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Choice', new_choice_path %>
