<h1>Listing choices</h1>

<% @choices.each do |choice| %>
  <%= div_for choice do %>
    <table>
      <tr>
        <td>
          <h2 class="vote_button">
            <% if @current_student %>
              <%= link_to raw('&#x25B2;'), vote_choice_url(choice), :id => "vote_#{choice.id}" %>
            <% else %>
              &#x25B2;
            <% end %>
          </h2>
        </td>
        <td><h2 class="vote_count"><%= choice.votes.count %></h2></td>
        <td><h2><%= choice.title %></h2></td>
      </tr>
    </table>
    <p><%= choice.description %></p>
    <p><%= choice.url %></p>
    <p>
      <% if @current_student %>
        <%= link_to 'Vote', vote_choice_url(choice), :id => "vote_#{choice.id}" %>
      <% else %>
        Log in above to vote
      <% end %> | <%= link_to 'Details', choice_path(choice) %></p>
  <% end %>
<% end %>
<br />

<%= link_to 'New Choice', new_choice_path %>
