<%= link_to 'Add a new CHI2011 Session', new_choice_path %>

<% @choices.each do |choice| %>
  <%= div_for choice, :class => "drop-shadow lifted" do %>
    <table>
      <tr>
        <td class="votes">
            <% if can_vote_on choice %>
              <h2 class="vote_button">
                <%= link_to raw('&#x25B2;'), vote_choice_url(choice), :id => "vote_#{choice.id}", :title => "Vote for #{choice.title}" %>
              </h2>
              <h2 class="vote_count">
                <%= link_to choice.votes_count, vote_choice_url(choice), :title => "Vote for #{choice.title}" %>
              </h2>
            <% else %>
              &#x25B2;
              <h2 class="vote_count"><%= choice.votes_count %></h2>
            <% end %>
          </td>
        <td class="title"><h1><%= choice.title %></h1></td>
        <td class="details">
          <%= link_to 'Details', "#choice_#{choice.id}", :class => "toggle_details" %>
        </td>
      </tr>
    </table>
    
    <div class="details">
      <p>
        <b>Papers:</b>
      </p>
      <p>
        <%= choice.description.html_safe %>
      </p>

      <p>
        <b>Voters:</b>
        <ul>
          <% choice.votes.all.each do |v| %>
            <li><%= "#{v.mask} at #{v.created_at.strftime("%l:%M%p %d %b")}" %></li>
          <% end %>
        </ul>
      </p>
    </div>
  <% end %>
<% end %>

<% content_for(:jquery) do %>
  $(".toggle_details").click(function(event){
    $(this).parents("div").children("div").slideToggle();
  })
<% end %>