<!DOCTYPE html>
<html>
<head>
  <title>Classvote</title>
  <%= stylesheet_link_tag "scaffold", "960", "formtastic", "formtastic_changes", "style" %>
  <%= javascript_include_tag "jquery-1.6.1.min" %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div class="header">
    <div class="container12">
      <div class="grid6 title">
        <%= link_to "CHI 2011 Session Chooser", root_url %>
      </div>
      <div class="grid6 login">
        <%= render "sessions/login" %> 
      </div>
    </div>
  </div>
  


<div class="container12">

  <% if flash[:error] || flash[:notice] %>
    <section class="grid12">
      <% if flash[:error] %>
        <p style="font-weight: bold; color:#A00"><%= flash[:error] %></p>
      <% end %>
      <% if flash[:notice] %>
        <p style="font-weight: bold; color:#0A0"><%= flash[:notice] %></p>
      <% end %>
    </section>
  <% end %>

  <section class="grid12">
    <%= yield %>
  </section>

</div>

<script>
$(document).ready(
  function(){
    <%= content_for(:jquery) %>
  });
</script>

</body>
</html>
